body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(230, 230, 230);
  font-family: Roboto, sans-serif;
  text-align: center;
}

h1 {
  font-size: 25px;
  margin: 20px;
}

img {
  width: 100px;
  margin: auto;
}

input {
  display: flex;
  flex-direction: column;
}

input[type="file" i] {
  color: green;
  text-align: center;
  border-color: red;
  display: flex;
  flex-direction: column;
  margin: auto;
  opacity: 0;
  width: 100%;
  height: 60px;
  position: relative;
  top: 0;
  z-index: 10;
  cursor: pointer;
}

button {
  color: whitesmoke;
  background-color: rgb(85, 75, 206);
  padding: 15px;
  border-radius: 15px;
  font-size: 17px;
  box-shadow: 2px 5px 15px 1px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  width: 250px;
  margin: auto;
  margin-top: 35px;
}

.file-select {
  position: relative;
  display: inline-block;
}

.file-select::before {
  box-shadow: 2px 5px 15px 1px rgba(0, 0, 0, 0.6);
  background-color: #5678ef;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: "Seleccionar Archivo";
  border-radius: 15px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 60px;
}

#src-file1::before {
  content: "Seleccionar Archivo";
  font-size: 15px;
  height: 60px;
}

h6 {
  font-size: 20px;
  margin: 20px;
}

a:hover {
  color: black;
}

a {
  color: #5678ef;
}

h5 {
  color: red;
  font-size: 15px;
  font-weight: 400;
}

#app {
  margin: auto;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

button {
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
  background-color: #5678ef !important;
}

button {
  background-color: #005eff;
  color: white;
  font-size: 16px;
}

button:hover {
  background-color: #004bcc;
}
